<ul class="nav nav-sidebar">
	<li>
		<userinfo></userinfo>
	</li>
	<li>
		<a href="#">My Community</a>
	</li>
	<li>
		<a href="#">My Profile</a>
	</li>
	<li>
		<a href="#">Photos</a>
	</li>
	<li>
		<a href="#">Friends</a>
	</li>
	<li>
		<a href="#">Calendar</a>
	</li>
	<li>
		<a href="#">History</a>
	</li>
	<li>
		<a href="#">Donation Summary</a>
	</li>
	<li>
		<a href="#">Rewards & Ranking</a>
	</li>
	<li>
		<a href="#">Settings</a>
	</li>
	<li>
		<a href="#">Favorites</a>
	</li>
	<li>
		<userfavorites class="row"></userfavorites>
	</li>
</ul>