html {
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	overflow-x: hidden;
	height: 100%;
	margin-bottom: 60px;
}

/*HEADER*/

div.header-container {
	height: 4em;
	background-color: #334C80; 
}

nav.navbar a {
	color: white;
	font-size: 1.2em;
}

p#home {
	margin-top: 0em;
}

img#logo {
	display: inline;
	margin-top: -0.7em;
	height: 2.6em;
	float: left;
}

i {
	margin-top: 1em;
	float: left;
}

i#search {
	margin-top: 0em;
}

/*SIDEBAR*/

div.sidebar {
	background-color: #334C80;	
	position: absolute;
	margin-top: -1.33em;
	height: 100%;
	z-index: 1;
}

userinfo div {
	height: 8em;
}

userinfo img {
	width: 6em;
	height: auto;
	float: left;
	display: inline;
}

userinfo p#title {
	color: white;
	width: 6em;
	float: left;
	padding-left: 0.5em;
	font-size: 1.15em;
}

userinfo p#points {
	margin-top: -0.5em;
	padding-left:1.5em;
	text-align: center;
	color: white;
	height: 2em;
	float: left;
	font-size: 1.3em;
}

userinfo p#points-sub {
	color: white;
	margin-top: -2em;
	padding-left: 0.5em;
	width: 7em;
	height: 2em;
	float: right;
	clear: left;
}

ul.nav-sidebar a {
	color: white;
}

ul.nav-sidebar a:hover {
	color: #334C80;
}


userfavorites img{
	height: 3em;
	display: inline;
	width: auto;
}

/*MAIN CONTENT*/

div#content-holder {
	float: right;
	margin-top: -1.33em;
}
div#content-holder div.main-links {
	background-color: #909090	
}

div#content-holder div.row div {
	text-align: center;
}

div#content-holder div.row div a {
	color: white;
	font-size: 2em;
}

div.phone-info p {
	font-size: 1.5em;
}

div.phone-info input {
	text-align: center;
	border: 2px solid #909090;
	margin-bottom: 1em;
}

div.sponsor-logos {
	height: 7em;
	overflow-y: hidden;
	white-space: nowrap;
	overflow-y: scroll;
}

img.sponsor-logo {
	height: 5em;
	margin: 1em;
	border: 1px solid black;
	display: inline-block;
}

div#weevu-logo-image {
	background-color: #F3F3F7;
}

span.weevu {
	font-weight: 700;
	color: #00CCFF;
}

/*FOOTER*/

.footer {
  position: fixed;
  bottom: 0;
  width: 93%;
  margin-left: -1.04em;
  height: 60px;
  background-color: #f5f5f5;
  z-index: 2;
  color: gray;
}

.footer a {
	color: gray;
}
